<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<array>
		<dict>
			<key>Name</key>
			<string>The People's Republic of China</string>
			<key>Population</key>
			<integer>1324443000</integer>
			<key>Flag</key>
			<string>china.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>India</string>
			<key>Population</key>
			<integer>1134260000</integer>
			<key>Flag</key>
			<string>india.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>USA</string>
			<key>Population</key>
			<integer>304367000</integer>
			<key>Flag</key>
			<string>usa.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Indonesia</string>
			<key>Population</key>
			<integer>231627000</integer>
			<key>Flag</key>
			<string>indonesia.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Brazil</string>
			<key>Population</key>
			<integer>187047836</integer>
			<key>Flag</key>
			<string>brazil.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pakistan</string>
			<key>Population</key>
			<integer>163579000</integer>
			<key>Flag</key>
			<string>pakistan.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bangladesh</string>
			<key>Population</key>
			<integer>158665000</integer>
			<key>Flag</key>
			<string>bangladesh.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nigeria</string>
			<key>Population</key>
			<integer>148093000</integer>
			<key>Flag</key>
			<string>nigeria.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Russia</string>
			<key>Population</key>
			<integer>141927900</integer>
			<key>Flag</key>
			<string>russia.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Japan</string>
			<key>Population</key>
			<integer>127690000</integer>
			<key>Flag</key>
			<string>japan.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mexico</string>
			<key>Population</key>
			<integer>106682500</integer>
			<key>Flag</key>
			<string>mexico.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>The Phillippines</string>
			<key>Population</key>
			<integer>88574614</integer>
			<key>Flag</key>
			<string>phillippines.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vietnam</string>
			<key>Population</key>
			<integer>87375000</integer>
			<key>Flag</key>
			<string>vietnam.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Germany</string>
			<key>Population</key>
			<integer>82244000</integer>
			<key>Flag</key>
			<string>germany.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ethiopia</string>
			<key>Population</key>
			<integer>77127000</integer>
			<key>Flag</key>
			<string>ethiopia.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Egypt</string>
			<key>Population</key>
			<integer>75498000</integer>
			<key>Flag</key>
			<string>egypt.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Iran</string>
			<key>Population</key>
			<integer>71208000</integer>
			<key>Flag</key>
			<string>iran.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Turkey</string>
			<key>Population</key>
			<integer>70586256</integer>
			<key>Flag</key>
			<string>turkey.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>France</string>
			<key>Population</key>
			<integer>64473140</integer>
			<key>Flag</key>
			<string>france.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Thailand</string>
			<key>Population</key>
			<integer>63038247</integer>
			<key>Flag</key>
			<string>thailand.png</string>
		</dict>
	</array>
	<key>ImagePath</key>
	<string>http://dl.dropbox.com/u/7022016/flags/</string>
</dict>
</plist>
